.card-container {
    height: 400px;
    width: auto;
    background-color: red;
    border: 1px solid black;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}